button {
  background-color: rgb(255, 216, 20);
  padding: 5px 40px;
  border: none;
  border-radius: 10px;
  transition: background-color;
}
button:hover {
  background-color: rgb(245, 194, 10);
}
