p {
  font-family: Arial;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.info {
  width: 200px;
}

.name {
  font-weight: bold;
  margin-bottom: 3px;
}

.sub-title {
  color: rgb(150, 150, 150);
  margin-top: 4px;
}

.category {
  color: rgb(150, 150, 150);
  font-size: 14px;
}

.follow-button {
  background-color: rgb(6, 135, 222);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}
