@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1 {
  font-weight: bold;
  margin-bottom: 0px;
}
span {
  text-decoration: underline;
}
